.container
    .jumbotron
        h1 Product
        p It’s Weiner’s belief that the actors inhabiting these roles and bringing them to brooding, thrilling life are the ones who’ve led to all this antihero talk

    .row
        .col-md-6
            div(ng-include="'/partials/featured'")
        .col-md-6
            div(ng-include="'/partials/new'")